
<head>

</head>
<body>
{% include 'agency/manu.html' %}
    {% if request.session.user_id %}

        <br>

        <h1 style="text-align: center;font-family: 'Agency FB';color:darkorchid;font-size: 40px"><b>Add And Update Stock Here</b></h1>
        <form method="post">
        {% csrf_token %}
             <div align="center">
                 <br>
       <table align="center" border="2" width="600">
       <tr>
           <th>DateTime:</th>
           <th>{{ form.s_date }}</th>
               <th>{{ form.s_date.errors }}</th>
           </tr>
           <tr>
           <th>Stock Received Commercial:</th>
           <th>{{ form.stock_comm }}</th>
               <th>{{ form.stock_comm.errors }}</th>
           </tr>
            <tr>
           <th>Stock Received Domestic:</th>
           <th>{{ form.stock_dom }}</th>
               <th>{{ form.stock_dom.errors }}</th>
           </tr>
       <tr>
           <th>Stock Defective Commercial:</th>
           <th>{{ form.defective_comm }}</th>
               <th>{{ form.defective_comm.errors }}</th>
           </tr>
            <tr>
           <th>Stock Defective Domestic:</th>
           <th>{{ form.defective_dom }}</th>
               <th>{{ form.defective_dom.errors }}</th>
           </tr>
            <tr>
           <th>Stock Current Commercial:</th>
           <th>{{ form.current_stock_comm }}</th>
               <th>{{ form.current_stock_comm.errors }}</th>
           </tr>
            <tr>
           <th>Stock Current Domestic:</th>
           <th>{{ form.current_stock_dom }}</th>
               <th>{{ form.current_stock_dom.errors }}</th>
           </tr>
           <tr><th colspan="3" style="text-align: center">
               <br>
                {% for x in messages %}
                   <span class="alert alert-danger">{{ x }}</span>
                     <br>
               {% endfor %}

        <button type="submit" class="btn btn-info">Save</button>
                </th></tr>
       </table>
             </div>
        </form>

{% endif %}
</body>