<html>
<head>
    <style>
        th{
            color: #0c5460;
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        }
        td{
            color: darkblue;
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>



{% include 'agency/manu.html' %}
    {% if request.session.user_id %}
        <br>

        <h1 style="text-align: center;font-family: 'Agency FB';color:darkorchid;font-size: 40px"><b>Add Price Here</b></h1>
        <form method="post">
        {% csrf_token %}
             <div align="center">
                 <br>
       <table align="center" border="2" width="600">
       <tr>
           <th>Price Id:</th>
           <td>{{ form.p_id }}</td>
               <th>{{ form.p_id.errors }}</th>
           </tr>

       <tr>
           <th>Cylinder Type:</th>
           <td>{{ form.c_type }}</td>
               <th>{{ form.c_type.errors }}</th>
           </tr>
             <tr>
           <th>Date:</th>
           <td>{{ form.date }}</td>
               <th>{{ form.date.errors }}</th>
           </tr>

           <tr>
           <th>Cylinder Price:</th>
           <td>{{ form.price }}</td>
               <th>{{ form.price.errors }}</th>
           </tr>
           <tr>
           <tr><th colspan="3" style="text-align: center">
               <br>
                {% for x in messages %}
                   <span class="alert alert-danger">{{ x }}</span>
                     <br><br>
               {% endfor %}

        <button type="submit" class="btn btn-info">Save</button>
                </th></tr>
       </table>
             </div>
        </form>

{% endif %}
</body></html>