<html>
<head>
    <style>
        th{
            color: #0c5460;
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        }
        td{
            color: darkblue;
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
{% include 'agency/manu.html' %}
    {% if request.session.user_id %}

        <br>

        <h1 style="text-align: center;font-family: 'Agency FB';color:darkorchid;font-size: 40px"><b>Add And Update Stock Here</b></h1>
        <form method="post">
        {% csrf_token %}
             <div align="center">
                 <br>
       <table align="center" border="2" width="600">
       <tr>
           <th>DateTime:</th>
           <td>{{ form.s_date }}</td>
               <th>{{ form.s_date.errors }}</th>
           </tr>
           <tr>
           <th>Stock Received Commercial:</th>
           <td>{{ form.stock_comm }}</td>
               <th>{{ form.stock_comm.errors }}</th>
           </tr>
            <tr>
           <th>Stock Received Domestic:</th>
           <td>{{ form.stock_dom }}</td>
               <th>{{ form.stock_dom.errors }}</th>
           </tr>
       <tr>
           <th>Stock Defective Commercial:</th>
           <td>{{ form.defective_comm }}</td>
               <th>{{ form.defective_comm.errors }}</th>
           </tr>
            <tr>
           <th>Stock Defective Domestic:</th>
           <td>{{ form.defective_dom }}</td>
               <th>{{ form.defective_dom.errors }}</th>
           </tr>
            <tr>
           <th>Stock Current Commercial:</th>
           <td>{{ form.current_stock_comm }}</td>
               <th>{{ form.current_stock_comm.errors }}</th>
           </tr>
            <tr>
           <th>Stock Current Domestic:</th>
           <td>{{ form.current_stock_dom }}</td>
               <th>{{ form.current_stock_dom.errors }}</th>
           </tr>
           <tr><th colspan="3" style="text-align: center">
               <br>
                {% for x in messages %}
                   <span class="alert alert-danger">{{ x }}</span>
                     <br>
               {% endfor %}

        <button type="submit" class="btn btn-info">Save</button>
                </th></tr>
       </table>
             </div>
        </form>

{% endif %}
</body></html>