<html>
<head>
    <style>
        th{
            color: #0c5460;
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        }
        td{
            color: darkblue;
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>


{% if request.session.user_id %}
    {% include 'agency/manu.html' %}

    <br>
        <h1 style="text-align: center;font-family: 'Agency FB';color:darkorchid;font-size: 40px"><b>Add New Customer Here</b></h1>
        <form method="post">
        {% csrf_token %}
             <div align="center">
                 <br>
       <table align="center" border="2" width="600">
           <th>Customer Number:</th>
           <td>{{ form.cust_no }}</td>
               <th>{{ form.cust_no.errors }}</th>
           </tr>
           <tr>
           <th>Customer Password:</th>
           <td>{{ form.password }}</td>
               <th>{{ form.password.errors }}</th>
           </tr>
           <tr>
           <th>Cylinder Type :</th>
           <td>{{ form.Cy_type }}</td>
               <th>{{ form.Cy_type.errors }}</th>
           </tr>
           <tr>
           <th>Connection Date:</th>
           <td>{{ form.date_conn }}</td>
               <th>{{ form.date_conn.errors }}</th>
           </tr>
           <tr>
           <th>Customer Name:</th>
           <td>{{ form.name }}</td>
               <th>{{ form.name.errors }}</th>
           </tr>
           <tr>
           <th>Customer Address:</th>
           <td>{{ form.address }}</td>
               <th>{{ form.address.errors }}</th>
           </tr>
           <tr>
           <th>Customer City:</th>
           <td>{{ form.city }}</td>
               <th>{{ form.city.errors }}</th>
           </tr>
           <tr>
           <th>Customer Contact No:</th>
           <td>{{ form.contact }}</td>
               <th>{{ form.contact.errors }}</th>
           </tr>
           <tr>
           <th>Pincode:</th>
           <td>{{ form.pincode }}</td>
               <th>{{ form.pincode.errors }}</th>
           </tr>
           <tr><th colspan="3" style="text-align: center">
               <br>
                {% for x in messages %}
                   <span class="alert alert-danger">{{ x }}</span>
                     <br>
               {% endfor %}

        <button type="submit" class="btn btn-info">Save</button>
                </th></tr>
       </table>
             </div>
        </form>
{% include 'footer.html' %}
{% endif %}
</body>
</html>