<html>
<head>
    <style>
       th{
            color: #0c5460;
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        }
        td{
            color: darkblue;
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        }



    </style>
</head>
<body>
{% if request.session.user_id %}
    {% include 'agency/manu.html' %}

    <br>
        <h1 style="text-align: center;font-family: 'Agency FB';color:darkorchid;font-size: 40px"><b>Update The Price</b></h1>
<br>
<form action="{% url 'updated_price' %}" method="post">
{% csrf_token %}

<table align="center" border="2" width="600">
    <tr>
        <th>Price Id:</th>
        <td><input value="{{ data.p_id }}" readonly type="number" name="p_id"> </td>
    </tr>
    <tr>
        <th>Date:</th>
        <td><input value="{{ data.date }}" readonly type="text" name="date">  </td>
    </tr>
    <tr>
        <th>Cylinder Type:</th>
        <td><input value="{{ data.c_type }}" readonly type="text" name="c_type">    </td>
    </tr>
    <tr>
        <th>Price:</th>
        <td>
            <input type="number" value="{{ data.price }}" name="price" style="color: red;font-family: Arial;">
        </td>
    </tr>
    <tr>
        <th colspan="2" style="text-align: center"><br>
            <button type="submit" class="btn btn-primary">Update</button>
        </th>
    </tr>

</table>
</form>
    {% include 'footer.html' %}
{% endif %}

</body>
</html>