<html>
<head>
    <style>
        th{
            width: 80px;
            text-align: center;
            font-family: "Agency FB";
            font-size: 20px;
            color: darkred;
        }
        td{
            width: 120px;
            text-align: center;
            font-family: "Arial Rounded MT Bold";
            font-size: 15px;
            color: darkblue;
            height: 30px;

        }
    </style>
</head>
<body>
{% if request.session.user_id %}
    {% include 'agency/manu.html' %}

    <br>
        <h1 style="text-align: center;font-family: 'Agency FB';color:darkorchid;font-size: 40px"><b>List Of All Stock details</b></h1>

<br>
<table align="center" border="2">
<tr>
    <th style="text-align: center">
        Date
    </th>
    <th style="text-align: center">
        Received Commercial
    </th>
    <th style="text-align: center">
        Received Dommestic
    </th>
    </th>
    <th style="text-align: center">
        Current Commercial
    </th>
    <th style="text-align: center">
        Current Dommestic
    </th>
    <th style="text-align: center">
        Update
    </th>
</tr>
    {% for x in data %}
     <tr>
    <td>
        {{x.s_date }}
    </td>
    <td>
        {{ x.stock_comm }}
    </td>
    <td>
        {{ x.stock_comm }}
    </td>
     <td>
        {{ x.current_stock_comm }}
    </td>
    <td>
        {{ x.current_stock_dom }}
    </td>
         <td style="text-align: center"><br>
             <a href="" class="btn btn-info">Yes</a>
         </td>
</tr>

    {% endfor %}
</table>
    {% include 'footer.html' %}
{% endif %}

</body>
</html>