<html>
<head>
    <style>
        th{
            width: 80px;
            text-align: center;
            font-family: "Agency FB";
            font-size: 20px;
            color: darkred;
        }
        td{
            width: 120px;
            text-align: center;
            font-family: "Arial Rounded MT Bold";
            font-size: 15px;
            color: darkblue;
            height: 30px;


        }



    </style>
</head>
<body>
{% if request.session.user_id %}
    {% include 'agency/manu.html' %}

    <br>
        <h1 style="text-align: center;font-family: 'Agency FB';color:darkorchid;font-size: 40px"><b>List Of All Customers</b></h1>

{% endif %}
<br>
<table align="center" border="2" width="600">
<tr>
    <th style="text-align: center">
        Date
    </th>
    <th style="text-align: center">
        Cylinder Type
    </th>
    <th style="text-align: center;">
        Price
    </th>
</tr>
    {% for x in data %}
     <tr>
    <td >
        {{x.date }}
    </td>
    <td>
        {{ x.c_type }}

    </td>
    <td>
        {{ x.price }}
    </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>