<br><br><br><br>


    <table align="center" border="2">
        <tr><th height="40" width="600" style="text-align:center">
        <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">RbGas</a> Designed By :
					<a  style="color: red">Jyoti Software</a></p>
                </div>

            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->
</th></tr>
    </table>
<br>