{% extends 'comman.html' %}
{% load static %}
{% block comman %}
    {% include 'manu.html' %}
<table align="center" border="2">
    <tr><th>
    <img src="{% static 'images/C1Q9MuYXcAAfuIW.jpg'%}" height="500" width='1500'>
    </th></tr>
 <tr>
          <th style="text-align: center">
              <span style="font-family: 'Arial Narrow';font-size: 20px">Join Our Group:</span>
              <a href="https://www.whatsapp.com/"><img src="{% static 'images/5ae21cc526c97415d3213554.png' %}" height="85" width="105"style="margin-left: 32px;">
              </a>
              <br>
              <span style="font-family: 'Arial Narrow';font-size: 20px">Follow On Facebook:  </span>
              <a href="https://www.facebook.com/"><img src="{% static 'images/Facebook.png' %}"height="50" width="50" style="margin-left: 22px">
              </a><br><br>
              <span style="font-family: 'Arial Narrow';font-size: 20px">Follow On Instagram:  </span>
              <a href="https://www.instagram.com/"><img src="{% static 'images/6225234-download-instagram-logo-icon-free-png-transparent-image-and-clipart-instagram-symbol-transparent-400_400_preview.png' %}"height="50" width="50" style="margin-left: 20px">
              </a> </th>
      </tr>
</table>

{% endblock %}


