<html>
<head>
    <style>
        th{
            width: 80px;
            text-align: center;
            font-family: "Agency FB";
            font-size: 20px;
            color: darkred;
        }
        td{
            width: 120px;
            text-align: center;
            font-family: "Arial Rounded MT Bold";
            font-size: 15px;
            color: darkblue;
            height: 30px;

        }



    </style>
</head>
<body>
{% if request.session.cust_id %}
    {% include 'consumer/manu.html' %}

    <br>
        <h1 style="text-align: center;font-family: 'Agency FB';color:darkorchid;font-size: 40px"><b>All Transactions</b></h1>
<br>
<table align="center" border="2">
<tr>
    <th style="text-align: center">
        Cust ID
    </th>
    <th style="text-align: center">
        Name
    </th>
    <th style="text-align: center">
        Cylinder Type
    </th>
    <th style="text-align: center">
        Booking DateTime
    </th>
    <th style="text-align: center">
        Status
    </th>
</tr>
    {% for x in data %}
     <tr>
    <td>
        {{x.customer_id }}
    </td>
    <td>
        {{ x.cust_name }}

    </td>
    <td>
        {{ x.cy_type }}
    </td>
    <td>
        {{ x.datetime }}
    </td>
    <td>
        {{ x.status }}
    </td>
</tr>

    {% endfor %}
</table>
{% endif %}

</body>
</html>